input[type="text"] {
	width: 100%;
}

textarea {
	resize: none;
	width: 100%;
	min-height: 4em;
}

.http-security-warning {
	background-color: yellow;
	padding: 5px;
	text-align: center;
}

table.http-security-options {
	width: 90%;
	max-width: 960px;
}

	table.http-security-options td {
		min-width: 10em;
		text-align: left;
		vertical-align: middle;
	}
	
	input[type="text"].age {
		text-align: right;
		width: 6em;
	}
	
	table.http-security-options td.text {
		width: 10em;
	}
	
	table.http-security-options td > select {
		margin-left: 1em;
		min-width: 220px;
	}
	
	table.http-security-options td.textarea {
		vertical-align: top;
	}

table.nested {
	width: 100%;
	max-width: 960px;
}

	table.nested td:first-child {
		width: 15em;
	}